.story {
    &__pictures {
        background-color: red;
        grid-column: full-start / col-end 4;
    }

    &__content {
        background-color: greenyellow;
        grid-column: col-end 4 / full-end;
    }
}